* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{

}
header {
  display: flex;
 
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
hr {
  box-shadow: 2px 5px 10px black;
  margin-top: 10px;
}

.box {
  margin-top: 100px;
  display: inline-block;
  text-align: center;
 margin-left: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}
td,th{
  border: 1px solid #ccc;
  padding: 4px 8px;
  text-align: center;
}


